[package]
name = "ic-auth-client"
version = "0.1.0"
authors = ["Inomoto, Yota <yota@perforate.org>"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.75.0"

description = "A client library for Internet Computer identity authentication services."
include = ["/src", "/Cargo.toml", "/README.md", "/LICENSE"]

documentation = "https://docs.rs/ic-auth-client/"
repository = "https://github.com/wiyota/ic-auth-client/"

readme = "README.md"

categories = ["api-bindings", "authentication", "wasm"]
keywords = ["icp", "internet-computer", "identity", "frontend"]

[lib]
crate-type = ["rlib"]

[dependencies]
ic-agent = { version = "0.37.1", features = ["wasm-bindgen"] }
base64 = "0.22.1"
gloo-console = "0.3.0"
gloo-events = "0.2.0"
gloo-timers = "0.3.0"
gloo-utils = "0.2.0"
ring = { version = "0.17.8", features = ["wasm32_unknown_unknown_js"] }
serde = { version = "1.0.19", features = ["derive"] }
serde_json = "1.0.117"
serde-wasm-bindgen = "0.6.4"
wasm-bindgen = "0.2.92"
wasm-bindgen-futures = "0.4.42"
wasm-timer = "0.2.5"
web-sys = { version = "0.3.69", default-features = false, features = [
    "Window",
    "EventListener",
    "Location",
    "MessageEvent",
    "Storage",
    "Url",
    "console",
    "History",
    "CryptoKey",
    "CryptoKeyPair",
] }

[dev-dependencies]
serde_test = "1.0.177"
wasm-bindgen-test = "0.3.43"
