# rust
debug/
target/
**/*.rs.bk
*.pdb

# node
node_modules/

# frontend code
dist/

# environment variables
.env

# dfx temporary files
.dfx/
deps/

# canisters on ic
canister_ids.json

# canbench
**/.canbench/

# Various IDEs and Editors
.vscode/
.idea/
.zed/

# OS

## MacOS
.DS_Store
